---
layout: default
title: blog
---


<div class="row">
    <div class="col-md-2">
        {% include categories.html %}
    </div>
    <div class="col-md-10" class="jumbotron" id="jumbo">
        <h1>Articles</h1>
            <div>
                <ul>
                {% for post in site.posts %}

                <h3>{{ post.title }} <small>{{post.date | date_to_string }}</small></h3>
                <p>{{ post.content | strip_html | truncatewords: 50 }}<p>
                <p><a href= "{{ post.url }}" class="btn btn-default"> Lire plus => </a></p>

                </li>
                {% endfor %}
                </ul>
            </div>
        {% include pagination.html %}
    </div>
</div>

